@{
    ViewData["Title"] = "Главная страница";
}
<header class="header">
    <p>
        СЕТЕВОЕ ПРИЛОЖЕНИЕ ДЛЯ РАСПРЕДЕЛЁННОГО РЕШЕНИЯ СЛАУ С ИСПОЛЬЗОВАНИЕМ ПРОТОКОЛА HTTP
    </p>
    
</header>
<hr>
<div class="content">
    <div class="text-center">
        <form asp-controller="Files" asp-action="SendMatrixAndVectorToServer" method="post" enctype="multipart/form-data">
            <select name="number">
                <option value="0">СЛАУ 0</option>
                <option value="1">СЛАУ 1</option>
                <option value="2">СЛАУ 2</option>
                <option value="3">СЛАУ 3</option>
                
            </select>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Отправить данные" id="btn" />
        </form>
    </div>
</div>